/* --- Partials --- */

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

/* --- Section --- */

.section {
  @include card;
  margin: 0 auto 2rem auto;
  width: 100%;

  @include tablet {
    width: 80%;
    border-radius: 0.25rem;
  }
  @include desktop {
    width: $breakpoint-desktop;
  }
  &__icon-container {
    @include flex-center;
    color: $white;
    background-color: $dark;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -1.5rem;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.1),
      0 3px 3px rgba(0, 0, 0, 0.23);
    @include tablet {
      height: 5rem;
      width: 5rem;
      top: -2.5rem;
      box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.1),
        0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
  &__button-container {
    @include flex-center;
    margin-top: 4rem;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__icon {
    font-size: 1.8rem;
    @include tablet {
      font-size: 3rem;
    }
    &--space {
      margin-left: 1rem;
    }
  }

  &__icon-feat {
    font-size: 2rem;
    color: $dark;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &--mini {
    width: 100%;
    @include tablet {
      max-width: 30rem;
    }
  }

  &__h1 {
    @include h1;
    padding: 2rem 1rem 1rem 1rem;
    @include tablet {
      padding: 3rem 1rem 1rem 1rem;
    }
    &--no-icon {
      padding: 1rem;
    }
    &--custom {
      padding: 0;
      margin: 0 0 3rem 0;
      @include desktop {
        justify-content: flex-start;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.5rem;
        height: 1px;
        margin: 0 auto;
        border-bottom: 3px solid $primary;
        width: 7rem;
        @include desktop {
          width: 9.5rem; /* or 100px */
          margin: 0 auto 0 0;
        }
      }
    }
  }

  &__h2 {
    @include h2;
    margin: 0;
    padding: 0;
    justify-content: center;
    @include tablet {
      justify-content: flex-start;
    }
    &--custom {
      justify-content: center;
      margin-bottom: 1rem;
    }
    &--bottom {
      margin-bottom: 2rem;
    }
    &--center {
      text-align: center;
      justify-content: center;
    }
  }

  &__h3 {
    @include h3;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  &__p {
    @include p;

    &--quote {
      border-left: 3px solid $primary;
      padding-left: 1rem;
    }
    &--date {
      color: $dark-grey;
      text-transform: uppercase;
      font-style: italic;
      margin: 0 0 0.1rem 0;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 9rem;
    }
    &--center {
      text-align: center;
    }
  }

  &__entry-list {
    list-style: none;
    @include mp-zero;
  }

  &__entry-listitem {
    border-left: 3px solid $primary;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    background-color: $light-bg;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  &__entry-info {
    flex-grow: 1;
  }

  &__entry-interact {
    @include flex-center;
    justify-content: space-between;
  }

  &__button {
    @include button;

    @include tablet {
      width: fit-content;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2rem;
    @include tablet {
      gap: 2rem;
      padding: 2rem 4rem 4rem 4rem;
    }
    @include desktop {
      gap: 2rem;
      flex-direction: row;
      padding: 4rem 0 4rem 4rem;
    }
  }

  &__column {
    width: 100%;
  }

  &__hero-img {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
    @include tablet {
      width: 50%;
      height: 50%;
    }
    @include desktop {
      width: 100%;
      height: 100%;
    }
  }

  &--optional {
    display: flex;
    justify-content: center;
  }

  &__cta-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    @include desktop {
      justify-content: flex-start;
    }
  }

  &__cta-button {
    padding: 0 2rem;
  }
}
