/* --- Partials --- */

@use "./variables" as *;
@use "./colors" as *;

/* --- Mixins --- */

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin expand {
  width: 100%;
  height: 100%;
}

@mixin mp-zero {
  margin: 0;
  padding: 0;
}

@mixin h1 {
  font-weight: 500;
  font-size: 2rem;
  color: $dark;
  position: relative;
  width: 100%;
  @include flex-center;
  padding: 0;
  margin: 0 0 4rem 0;
  @include tablet {
    font-size: 2.5rem;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    height: 1px;
    margin: 0 auto;
    width: 25%; /* or 100px */
    border-bottom: 3px solid $primary;
  }
}

@mixin h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: $dark;
  @include flex-center;
  @include tablet {
    font-size: 2rem;
  }
}

@mixin h3 {
  font-weight: 500;
  font-size: 1.2rem;
  color: $dark;
  @include flex-center;
  @include tablet {
    font-size: 1.5rem;
  }
}

@mixin p {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  @include tablet {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@mixin button {
  @include flex-center;
  line-height: 3rem;
  height: 3rem;
  text-decoration: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
  border: none;
  width: 100%;
  font-family: "Open Sans", sans-serif;

  @include desktop {
    max-width: 20rem;
  }
  &--top {
    margin: 0 0 1rem 0;
    @include tablet {
      margin: 0 1rem 0 0;
    }
  }
  &--primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $primary-hover;
    }
  }
  &--big-icon {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  &--primary-outline {
    background-color: $white;
    color: $primary;
    border: 2px solid $primary;
    &:hover {
      color: $primary-hover;
      border: 2px solid $primary-hover;
    }
  }
  &--dark {
    background-color: $dark;
    color: $white;
    &:hover {
      background-color: $dark-hover;
    }
  }
  &--dark-outline {
    background-color: $white;
    color: $dark;
    border: 2px solid $dark;
    &:hover {
      color: $dark-hover;
      border: 2px solid $dark-hover;
      background-color: $background;
    }
  }

  &--delete {
    background-color: $error;
    color: $white;
    &:hover {
      background-color: $error-hover;
    }
  }
  &--spacer {
    margin-right: 0.25rem;
  }
  &--expand {
    @include desktop {
      max-width: 100%;
    }
  }
}
