/* --- Colors --- */

$primary: #2cb3e8;
$primary-hover: #0abaff;

$secondary: #f48498;
$secondary-hover: #f8b4c0;

$info: #6a8eae;
$dark: #37353e;
$dark-hover: #474453;
$background: #f5efed;
$white: #ffffff;

$light-bg: #f4f4f6;

$grey: #b4b2bd;

$info: #00a1e0;
$info-bg: #ebf9ff;

$success: #4f9d69;
$success-bg: #f1f8f4;

$error: #e05263;
$error-bg: #fceeef;

$warn: #f49f0a;
$warn-bg: #fef7eb;
