/* --- Colors --- */

$primary: #4f9d69;
$primary-hover: #46c983;

$secondary: #f48498;
$secondary-hover: #f8b4c0;

$info: #6a8eae;
$dark: #37353e;
$dark-hover: #474453;
$background: #f4f4f5;
$white: #ffffff;
