/* --- Partials --- */

@use "./variables" as *;
@use "./colors" as *;

/* --- Mixins --- */

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin expand {
  width: 100%;
  height: 100%;
}

@mixin mp-zero {
  margin: 0;
  padding: 0;
}

@mixin h1 {
  font-weight: 500;
  font-size: 2rem;
  color: $dark;
  position: relative;
  width: 100%;
  @include flex-center;
  @include mp-zero;
  @include tablet {
    font-size: 2.5rem;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    height: 1px;
    margin: 0 auto;
    width: 25%; /* or 100px */
    border-bottom: 3px solid $primary;
  }
}

@mixin h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: $dark;
  @include flex-center;
  @include tablet {
    font-size: 2rem;
  }
}

@mixin h3 {
  font-weight: 500;
  font-size: 1.2rem;
  color: $dark;
  @include flex-center;
  @include tablet {
    font-size: 1.5rem;
  }
}

@mixin p {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  @include tablet {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}
