/* --- Partials --- */

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

/* --- Header --- */

.header {
  @include flex-center;
  background-color: $dark;
  height: 3rem;
  color: $white;
  box-shadow: 0px 15px 10px -15px $dark;

  @include tablet {
    height: 5rem;
  }
  &__title {
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
