/* --- Partials --- */

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

/* --- Header --- */

.header {
  @include flex-center;
  background-color: $dark;
  height: 3rem;
  color: $white;
  box-shadow: 0px 15px 10px -15px $dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @include tablet {
    height: 5rem;
  }
  &__container {
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include tablet {
      padding: 0 2rem 0 2rem;
    }
  }

  &__icon {
    display: none;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
    @include tablet {
      display: flex;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: $white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.25s;
    z-index: 3;
    &:hover {
      color: $primary-hover;
    }
    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  &__nav {
    display: flex;
  }

  &__navlist {
    position: fixed;
    bottom: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50%;
    width: 100%;
    background-color: $dark;
    gap: 1rem;
    list-style: none;
    transition-property: bottom;
    transition-duration: 0.25s;
    z-index: 2;
    &--open {
      bottom: 100%;
    }
    @include tablet {
      position: relative;
      width: fit-content;
      padding-top: 0;
      top: 0;
      left: 0;
      flex-direction: row;
      height: fit-content;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
    transition: 0.25s;
    font-size: 0.9rem;
    cursor: pointer;
    &.active {
      color: $secondary;
    }
    &:hover {
      color: $primary;
    }
    @include tablet {
      font-size: 1rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: none;
    border: none;
    padding: 0.5rem;
    transition: 0.25s;
    z-index: 3;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
    @include tablet {
      display: none;
    }
  }
}
