---
name: Build and Push Images to GCP
on:
  push:
    branches: [feat/59-add-cicd-pipeline]
jobs:
  build-push-gcr:
    name: Build and Push to GCP
    runs-on: ubuntu-latest
    env:
      DATABASE_IMAGE_NAME: peace-of-mind-db
      FRONTEND_IMAGE_NAME: peace-of-mind-frontend
      BACKEND_IMAGE_NAME: peace-of-mind-backend
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      GCP_REGION: ${{ secrets.GCP_REGION }}
      GCP_ZONE: ${{ secrets.GCP_ZONE }}
      GCP_INSTANCE_NAME: ${{ secrets.GCP_INSTANCE_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.SERVICE_ACCOUNT_KEY }}

      - name: Build Docker Images
        run: |-
          docker build -t $DATABASE_IMAGE_NAME:latest ./db/
          docker build -t $FRONTEND_IMAGE_NAME:latest ./frontend/
          docker build -t $BACKEND_IMAGE_NAME:latest ./backend/

      - name: Configure Docker Client
        run: |-
          gcloud auth configure-docker --quiet
          gcloud auth configure-docker $GCP_REGION-docker.pkg.dev --quiet

      - name: Tag and Push Images to GCP
        run: |-
          docker tag $DATABASE_IMAGE_NAME:latest $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$DATABASE_IMAGE_NAME:latest
          docker tag $BACKEND_IMAGE_NAME:latest $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$BACKEND_IMAGE_NAME:latest
          docker tag $FRONTEND_IMAGE_NAME:latest $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$FRONTEND_IMAGE_NAME:latest
          docker push $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$DATABASE_IMAGE_NAME:latest
          docker push $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$BACKEND_IMAGE_NAME:latest
          docker push $GCP_REGION-docker.pkg.dev/$PROJECT_ID/peace-of-mind/$FRONTEND_IMAGE_NAME:latest

      - name: "Deploy App to GCP VM"
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /home/michelle/
            touch githubtest.txt
            gcloud auth configure-docker --quiet
            gcloud auth configure-docker $GCP_REGION-docker.pkg.dev --quiet
